@model LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta itemprop="image" content="https://www.spacex.com/static/images/share.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=@Url.Content("~/styles/app.css")>
    <title>Sign In - SpaceXinfo</title>
</head>
<body>
    <main class="main">
        <div class="register">
            <div class="container">
                <div class="register__inner">
                    <div class="register__circle"></div>
                    <div class="register__form__container">
                        <form asp-action="Login" asp-controller="Auth" method="post">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <h1 class="register__form__title">
                                Sign In
                            </h1>
                            <div class="register__form__fields">
                                <div class="register__form__field">
                                    <label for="username" class="register__label">Nickname</label>
                                    <input 
                                    class="register__input" 
                                    type="text" placeholder="Nickname" 
                                    required 
                                    asp-for="Username"
                                    id="username">
                                    <span asp-validation-for="Username"></span>
                                </div>
                                <div class="register__form__field">
                                    <label for="password" class="register__label">Password</label>
                                    <input 
                                    class="register__input"
                                    asp-for="Password" 
                                    type="password" 
                                    placeholder="Password" 
                                    required 
                                    minlength="8"
                                    maxlength="24"
                                    id="password">
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                            <div class="register__form__buttons text-center">
                                <button 
                                class="btn btn--big btn--long"
                                type="submit">Sign In</button>
                                <div class="register__divider">or</div>
                                <a 
                                type="button"
                                class="btn btn--big btn--long"
                                asp-controller="Auth" 
                                asp-action="Register"
                                asp-route-returnUrl="@Model.ReturnUrl">
                                    Sign Up
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>