<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Register</title>
</head>

<body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <form action="">
                <h1 class="form-title">
                    Sign Up
                </h1>
                <div class="form-fields">
                    <div class="form-field">
                        <input type="nickname" placeholder="Nickname" required>
                    </div>
                    <div class="form-field">
                        <input type="password" placeholder="Password" required minlength="8" maxlength="128">
                    </div>
                    <div class="form-field">
                        <input type="password" placeholder="Repeat password" required minlength="8" maxlength="128">
                    </div>
                </div>
                <div class="form-buttons">
                    <button class="button">Sign Up</button>
                    <div class="divider">or</div>
                    <a href="#" class="button button-bottom">Sign In</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>