<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/bc791714ce.js" crossorigin="anonymous"></script>
    <title>Register</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="index.html" class="header__logo__link">
                        <i class="fa-solid fa-rocket header__icon"></i>
                        <b>SpaceX</b>info
                        </a>
                </div>
                <nav class="nav">
                    <a href="launches.html" class="nav__link">Launches</a>
                    <a href="vehicles.html" class="nav__link">Vehicles</a>
                    <a href="cores.html" class="nav__link">Cores</a>
                    <a href="acronyms.html" class="nav__link">Acronyms</a>
                    <a href="about.html" class="nav__link">About</a>
                    <a href="register.html" class="btn btn--register">Register</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="register">
        <div class="container">
            <div class="register__inner">
                <div class="register__circle"></div>
                <div class="register__form__container">
                    <form action="">
                        <h1 class="register__form__title">
                            Sign Up
                        </h1>
                        <div class="register__form__fields">
                            <div class="register__form__field">
                                <label for="" class="register__label">Nickname</label>
                                <input class="register__input" type="nickname" placeholder="Nickname" required>
                            </div>
                            <div class="register__form__field">
                                <label for="" class="register__label">Password</label>
                                <input class="register__input" type="password" placeholder="Password" required minlength="8" maxlength="128">
                            </div>
                            <div class="register__form__field">
                                <label for="" class="register__label">Repeat password</label>
                                <input class="register__input" type="password" placeholder="Repeat password" required minlength="8" maxlength="128">
                            </div>
                        </div>
                        <div class="register__form__buttons text-center">
                            <button class="btn btn--big btn--long">Sign Up</button>
                            <div class="register__divider">or</div>
                            <button href="#" class="btn btn--big btn--long">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer--bg">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__name">SpaceXinfo</div>
                <div class="footer__origins">Data was taken from 
                    <a href="https://docs.spacexdata.com" target="_blank">
                        docs.spacexdata.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>