<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form>
            <input type="hidden"/>
            <div class="header">Sign Up</div>
            <div class="block">
                <label>Username</label>
                <input class="input" />
                <span></span>
            </div>
            <div class="block">
                <label>Password</label>
                <input class="input" />
                <span></span>
            </div>
            <div class="block">
                <label>Confirm password</label>
                <input class="input" />
                <span ></span>
            </div>
            <div>
                <button class="button">Sign Up</button>
            </div>
            <a class="switch-button">Login</a>
        </form>
    </div>
</body>
</html>