* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container
{
    max-width: 400;
    padding: 0 15px;
    margin: 0 auto;
}

.input {
    display: block;
    font-size: 16px;
    font-family: Arial;
    background-color: #fff;
}

.header {
    font-family: Arial;
    color: #332600;
    font-size: 30px;
    text-align: center;
}

.button {
    font-size: 16px;
    background-color: #a191bd;
    border-radius: 4px;
    color: #332600;
    font-family: Arial;
}

.block {
    margin-top: 10px;
}

.switch-button {
    margin-top: 8px;
    font-size: 8px;
    border-radius: 4px;
    color: #332600;
    font-family: Arial;
    display: inline-block;
    text-align: center;
}
