<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/bc791714ce.js" crossorigin="anonymous"></script>
    <title>Launches</title>
</head>
<body class="no-scroll1">
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="index.html" class="header__logo__link">
                        <i class="fa-solid fa-rocket header__icon"></i>
                        <b>SpaceX</b>info
                        </a>
                </div>
                <nav class="nav">
                    <a href="launches.html" class="nav__link">Launches</a>
                    <a href="vehicles.html" class="nav__link">Vehicles</a>
                    <a href="cores.html" class="nav__link">Cores</a>
                    <a href="acronyms.html" class="nav__link">Acronyms</a>
                    <a href="about.html" class="nav__link">About</a>
                    <a href="register.html" class="btn btn--register">Register</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="launches">
            <div class="container">
                <h1 class="launches__title">Launches</h1>
    
                <div class="launches__content">
                    <div class="launches__column launches__column--left">
                        <div class="launches__column__title">
                            <i class="fa-regular fa-clock"></i> Upcoming
                        </div>
    
                        <div class="launches__list">
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="launches__content__divider"></div>
    
                    <div class="launches__column launches__column--right">
                        <div class="launches__column__title">
                            <i class="fa-regular fa-circle-check"></i> Completed
                        </div>
    
                        <div class="launches__list">
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="launches__item">
                                <div class="launches__item__column">
                                    <div class="launches__item__info">F-NR 178</div>
                                    <div class="launches__item__title">Starlink 4-26 (v1.5)</div>
                                    <div class="launches__item__date">06.08.2022</div>
                                </div>
                                <div class="launches__item__column launches__item__column--right">
                                    <div class="launches__item__info">Block</div>
                                    <div class="launches__item__title">5</div>
                                    <div class="launches__item__icons">
                                        <div class="launches__item__icon launches__item__icon--calendar">
                                            <i class="fa-solid fa-calendar-days"></i>
                                        </div>
                                        <div class="launches__item__icon launches__item__icon--favourite">
                                            <i class="fa-solid fa-heart"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer footer--bg">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__name">SpaceXinfo</div>
                <div class="footer__origins">Data was taken from 
                    <a href="https://docs.spacexdata.com" target="_blank">
                        docs.spacexdata.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Modal -->

<div class="modal" style="display: none">
    <div class="modal__dialog">
        <div class="modal__close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        <div class="modal__launch">
            <div class="modal__launch__header">
                <div class="modal__launch__header__item">
                    <div class="modal__launch__info">KSC LC 39A</div>
                    <h3 class="modal__launch__title">Starlink 4-26 (v1.5)</h3>
                    <div class="modal__launch__date">09.08.2022 - 16:00</div>
                </div>

                <div class="modal__launch__header__item 
                modal__launch__header__item--right">
                    <div class="modal__launch__info">F-NR</div>
                    <h3 class="modal__launch__title">178</h3>
                </div>
            </div>

            <div class="modal__launch__specs">
                <div class="modal__launch__specs__item">
                    <i class="fa-solid fa-circle-info"></i> Rocket Specs</div>
                <div class="modal__launch__specs__item">
                    <i class="fa-solid fa-circle-info"></i> Launchpad specs</div>
            </div>

            <div class="modal__launch__content">
                <div class="modal__launch__char">
                    <div class="modal__launch__char__title">
                        Cores
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle
                                modal__launch__angle--up"></i>
                            </div>
                        </div>
                        <div class="modal__launch__char__info">
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Reused</div>
                                <div class="modal__launch__char__info__item__col">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                            </div>
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Reused</div>
                                <div class="modal__launch__char__info__item__col">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                            </div>
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Customers</div>
                                <div class="modal__launch__char__info__item__col">
                                    NASA
                                </div>
                            </div>
                        </div>
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle"></i>
                            </div>
                        </div>
                        
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle"></i>
                            </div>
                        </div>
                        
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="modal__launch__char">
                    <div class="modal__launch__char__title">
                        Payloads
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle
                                modal__launch__angle--up"></i>
                            </div>
                        </div>
                        <div class="modal__launch__char__info">
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Reused</div>
                                <div class="modal__launch__char__info__item__col">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                            </div>
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Reused</div>
                                <div class="modal__launch__char__info__item__col">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                            </div>
                            <div class="modal__launch__char__info__item">
                                <div class="modal__launch__char__info__item__col">Customers</div>
                                <div class="modal__launch__char__info__item__col">
                                    NASA
                                </div>
                            </div>
                        </div>
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle"></i>
                            </div>
                        </div>
                        
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>

                    <div class="modal__launch__char__item">
                        <div class="modal__launch__char__header">
                            <div class="modal__launch__char__header__title">
                                B1072
                            </div>
                            <div class="modal__launch__char__header__angle">
                                <i class="fa-solid fa-angle-down
                                modal__launch__angle"></i>
                            </div>
                        </div>
                        
                        <div class="modal__launch__char__specs">
                            <div class="modal__launch__char__specs__item">
                                <i class="fa-solid fa-circle-info"></i> Specs
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Launchpad -->
<div class="modal" style="display: flex">
    <div class="modal__dialog">
        <div class="modal__close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        <div class="modal__launchpad">
            <div class="modal__launchpad__header">
                <div class="modal__launchpad__region">Marshall Islands, Omelek Island</div>
                <div class="modal__launchpad__name">Kwajalein Atoll</div>
                <div class="modal__launchpad__coordinats">9.0477206&deg;, 167.7431292&deg;</div>
            </div>
            <div class="modal__launchpad__text">
                SpaceX's original pad, where all of the Falcon 1 flights 
                occurred (from 2006 to 2009). It would have also been the 
                launch site of the Falcon 1e and the Falcon 9, but it was 
                abandoned as SpaceX ended the Falcon 1 program and decided 
                against upgrading it to support Falcon 9, likely due to its 
                remote location and ensuing logistics complexities.
            </div>
            <div class="modal__launchpad__info">
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
                <div class="modal__launchpad__info__row">
                    <div class="modal__launchpad__info__row__item">Status</div>
                    <div class="modal__launchpad__info__row__item">RETIRED</div>
                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>