<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/bc791714ce.js" crossorigin="anonymous"></script>
    <title>Vehicles</title>
</head>
<body class="no-scroll1">
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="index.html" class="header__logo__link">
                        <i class="fa-solid fa-rocket header__icon"></i>
                        <b>SpaceX</b>info
                        </a>
                </div>
                <nav class="nav">
                    <a href="launches.html" class="nav__link">Launches</a>
                    <a href="vehicles.html" class="nav__link">Vehicles</a>
                    <a href="cores.html" class="nav__link">Cores</a>
                    <a href="acronyms.html" class="nav__link">Acronyms</a>
                    <a href="about.html" class="nav__link">About</a>
                    <a href="register.html" class="btn btn--register">Register</a>
                </nav>
            </div>
        </div>
    </header>
    
    <main class="main">
        <div class="vehicles">
            <div class="container">
                <div class="vehicles__inner">
                    <h1 class="vehicles__title">Vehicles</h1>
                    <div class="vehicles__content">
                        <div class="vehicles__column">
                            <div class="vehicles__column__title">Rockets</div>
    
                            <div class="vehicles__list">
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/rockets/starship.jpg" alt="">
                                    </div>
                                    <div class="vehicles__item__header">
                                        <h3 class="vehicles__item__title">Starship</h3>
                                        <i class="fa-solid fa-angle-down vehicles__item__angle
                                        vehicles__item__angle--up"></i>
                                    </div>
                                    <div class="vehicles__item__text">SpaceX’s Starship 
                                    spacecraft and Super Heavy rocket (collectively 
                                    referred to as Starship) represent a fully reusable 
                                    transportation system designed to carry both crew and 
                                    cargo to Earth orbit, the Moon, Mars and beyond. 
                                    Starship will be the world’s most powerful launch 
                                    vehicle ever developed, with the ability to carry in 
                                    excess of 100 metric tonnes to Earth orbit.</div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Rocket Specs</a>
                                </div>
    
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/rockets/falcon_heavy.jpg" alt="">
                                    </div>
                                    <div class="vehicles__item__header">
                                        <h3 class="vehicles__item__title">Falcon Heavy</h3>
                                        <i class="fa-solid fa-angle-down vehicles__item__angle"></i>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Rocket Specs</a>
                                </div>
    
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/rockets/falcon_9.jpeg" alt="">
                                    </div>
                                    <div class="vehicles__item__header">
                                        <h3 class="vehicles__item__title">Falcon 9</h3>
                                        <i class="fa-solid fa-angle-down vehicles__item__angle"></i>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Rocket Specs</a>
                                </div>
    
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/rockets/falcon_1.jpg" alt="">
                                    </div>
                                    <div class="vehicles__item__header">
                                        <h3 class="vehicles__item__title">Falcon 1</h3>
                                        <i class="fa-solid fa-angle-down vehicles__item__angle"></i>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Rocket Specs</a>
                                </div>
                            </div>
                        </div>
                        <div class="vehicles__divider"></div>
                        <div class="vehicles__column">
                            <div class="vehicles__column__title">Capsules</div>
    
                            <div class="vehicles__list">
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                                <div class="vehicles__item">
                                    <div class="vehicles__item__photo">
                                        <img src="/img/capsules/c101.jfif" alt="">
                                    </div>
                                    <h3 class="vehicles__item__title">C101 - Dragon 1.0</h3>
                                    <div class="vehicles__item__info">
                                        <div class="vehicles__item__info__characteristics">
                                            <div class="vehicles__item__info__char">Status</div>
                                            <div class="vehicles__item__info__char">Active since</div>
                                            <div class="vehicles__item__info__char">Missions</div>
                                        </div>
    
                                        <div class="vehicles__item__info__values">
                                            <div class="vehicles__item__info__val">Active</div>
                                            <div class="vehicles__item__info__val">1 Jan '70 - 03:00</div>
                                            <div class="vehicles__item__info__val">0</div>
                                        </div>
                                    </div>
                                    <a class="vehicles__item__specs">
                                        <i class="fa-solid fa-circle-info"></i> 
                                        Capsule Specs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__name">SpaceXinfo</div>
                <div class="footer__origins">Data was taken from 
                    <a href="https://docs.spacexdata.com" target="_blank">
                        docs.spacexdata.com
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Modals -->

<!-- Rocket -->
<div class="modal" style="display: none">
    <div class="modal__dialog">
        <div class="modal__close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        <div class="modal__rocket">
            <div class="modal__rocket__photo">
                <img src="/img/rockets/falcon_heavy.jpg" alt="">
                <div class="modal__rocket__photo__title">Falcon Heavy</div>
            </div>

            <div class="modal__rocket__header">
                <div class="modal__rocket__header__item">
                    <div class="modal__rocket__header__info">Type</div>
                    <div class="modal__rocket__header__title">Falcon Heavy</div>
                    <div class="modal__rocket__header__date">09.08.2022</div>
                </div>

                <div class="modal__rocket__header__item
                modal__rocket__header__item--right">
                    <div class="modal__rocket__header__info">Active</div>
                    <div class="modal__rocket__header__title">
                        <i class="fa-solid fa-circle-check"></i>
                    </div>
                </div>
            </div>

            <div class="modal__rocket__text">
                SpaceX’s Starship spacecraft and Super Heavy rocket (collectively 
                referred to as Starship) represent a fully reusable 
                transportation system designed to carry both crew and 
                cargo to Earth orbit, the Moon, Mars and beyond. 
                Starship will be the world’s most powerful launch 
                vehicle ever developed, with the ability to carry in 
                excess of 100 metric tonnes to Earth orbit.
            </div>

            <div class="modal__rocket__info">
                <div class="modal__rocket__info__col">
                    <div class="modal__rocket__info__item">Company</div>
                    <div class="modal__rocket__info__item">Country</div>
                    <div class="modal__rocket__info__item">Cost per launch</div>
                    <div class="modal__rocket__info__item">Succes rate</div>
                </div>
                <div class="modal__rocket__info__col 
                modal__rocket__info__col--right">
                    <div class="modal__rocket__info__item">SpaceX</div>
                    <div class="modal__rocket__info__item">United States</div>
                    <div class="modal__rocket__info__item">$ 90,000,000</div>
                    <div class="modal__rocket__info__item">100%</div>
                </div>
            </div>

            <div class="modal__rocket__chars">
                <div class="modal__rocket__chars__item">
                    <div class="modal__rocket__chars__item__header">
                        <div class="modal__rocket__chars__item__title">Metrics</div>
                        <div class="modal__rocket__chars__angle">
                            <i class="fa-solid fa-angle-down
                            modal__rocket__angle
                            modal__rocket__angle--up"></i>
                        </div>
                    </div>
                    <div class="modal__rocket__chars__info">
                        <div class="modal__rocket__chars__info__row">
                            <div class="modal__rocket__chars__info__row__item">Height</div>
                            <div class="modal__rocket__chars__info__row__item">70m</div>
                        </div>
                        <div class="modal__rocket__chars__info__row">
                            <div class="modal__rocket__chars__info__row__item">Height</div>
                            <div class="modal__rocket__chars__info__row__item">70m</div>
                        </div>
                        <div class="modal__rocket__chars__info__row">
                            <div class="modal__rocket__chars__info__row__item">Height</div>
                            <div class="modal__rocket__chars__info__row__item">70m</div>
                        </div>
                    </div>
                </div>
                <div class="modal__rocket__chars__item">
                    <div class="modal__rocket__chars__item__header">
                        <div class="modal__rocket__chars__item__title">Metrics</div>
                        <div class="modal__rocket__chars__angle">
                            <i class="fa-solid fa-angle-down
                            modal__rocket__angle"></i>
                        </div>
                    </div>
                </div>
                <div class="modal__rocket__chars__item">
                    <div class="modal__rocket__chars__item__header">
                        <div class="modal__rocket__chars__item__title">Metrics</div>
                        <div class="modal__rocket__chars__angle">
                            <i class="fa-solid fa-angle-down
                            modal__rocket__angle"></i>
                        </div>
                    </div>
                </div>
                <div class="modal__rocket__chars__item">
                    <div class="modal__rocket__chars__item__header">
                        <div class="modal__rocket__chars__item__title">Metrics</div>
                        <div class="modal__rocket__chars__angle">
                            <i class="fa-solid fa-angle-down
                            modal__rocket__angle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<!-- Capsule -->

<div class="modal" style="display: none">
    <div class="modal__dialog">
        <div class="modal__close">
            <i class="fa-solid fa-circle-xmark"></i>
        </div>

        <div class="modal__capsule">
            <div class="modal__capsule__photo">
                <img src="/img/capsules/c101.jfif" alt="">
                <div class="modal__capsule__photo__text">C101</div>
            </div>

            <div class="modal__capsule__header">
                <div class="modal__capsule__header__col">
                    <div class="modal__capsule__header__info">Type</div>
                    <div class="modal__capsule__header__title">Dragon 1.0</div>
                    <div class="modal__capsule__header__status">Reentered after
                    three weeks in orbit
                    </div>
                </div>
                <div class="modal__capsule__header__col">
                    <div class="modal__capsule__header__info
                    modal__capsule__header__info--right">Status</div>
                    <div class="modal__capsule__header__title">Retired</div>
                </div>
            </div>

            <div class="modal__capsule__info">
                <div class="modal__capsule__info__row">
                    <div class="modal__capsule__info__row__item">Serial</div>
                    <div class="modal__capsule__info__row__item">C108</div>
                </div>
                <div class="modal__capsule__info__row">
                    <div class="modal__capsule__info__row__item">Reused</div>
                    <div class="modal__capsule__info__row__item">0</div>
                </div>
                <div class="modal__capsule__info__row">
                    <div class="modal__capsule__info__row__item">Date first flight</div>
                    <div class="modal__capsule__info__row__item">02.05.2022 - 11:44</div>
                </div>
                <div class="modal__capsule__info__row">
                    <div class="modal__capsule__info__row__item">Landing Successful</div>
                    <div class="modal__capsule__info__row__item">1</div>
                </div>
            </div>

            <div class="modal__capsule__missions">
                <div class="modal__capsule__missions__title">Missions</div>

                <div class="modal__capsule__missions__content">
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                    <div class="modal__capsule__missions__item">
                        CRS-6 - Mission Details <i class="fa-solid fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

</body>
</html>